html,
#root {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.legacy {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1200;
  transform: translateX(-50%);
}
